config.env
*.pyc
data*
.vscode
.idea
*.json
*.pickle
.netrc
log.txt
accounts/*
Thumbnails/*
rclone/*
list_drives.txt
cookies.txt
downloads
bot.session*
terabox.txt
rclone.conf
# qBittorrent runtime files
qBittorrent/config/rss/storage.lock
qBittorrent/config/qBittorrent-data.conf
qBittorrent/config/lockfile