# Remove this line before deploying
_____REMOVE_THIS_LINE_____=True
# REQUIRED CONFIG
BOT_TOKEN = ""                              # Require restart after changing it while bot running
OWNER_ID = ""                               # Require restart after changing it while bot running
TELEGRAM_API = ""                           # Require restart after changing it while bot running
TELEGRAM_HASH = ""                          # Require restart after changing it while bot running
# OPTIONAL CONFIG
GDRIVE_ID = ""
IS_TEAM_DRIVE = ""
DOWNLOAD_DIR = "/usr/src/app/downloads/"    # Require restart after changing it while bot running
DOWNLOAD_STATUS_UPDATE_INTERVAL = "10"
AUTO_DELETE_MESSAGE_DURATION = "30"
DATABASE_URL = ""                           # Require restart after changing it while bot running
AUTHORIZED_CHATS = ""                       # Require restart after changing it while bot running
SUDO_USERS = ""                             # Require restart after changing it while bot running
IGNORE_PENDING_REQUESTS = ""
USE_SERVICE_ACCOUNTS = ""
INDEX_URL = ""
STATUS_LIMIT = ""
STOP_DUPLICATE = ""
CMD_PERFIX = ""                              # Require restart after changing it while bot running
UPTOBOX_TOKEN = ""
TORRENT_TIMEOUT = ""
EXTENSION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = ""
YT_DLP_QUALITY = ""
# Update
UPSTREAM_REPO = ""
UPSTREAM_BRANCH = ""
# Leech
USER_SESSION_STRING = ""                    # Require restart after changing it while bot running
LEECH_SPLIT_SIZE = ""
AS_DOCUMENT = ""
EQUAL_SPLITS = ""
LEECH_FILENAME_PERFIX = ""
DUMP_CHAT = ""
# qBittorrent/Aria2c
BASE_URL = ""
SERVER_PORT = ""
WEB_PINCODE = ""
# RSS
RSS_DELAY = ""                              # Require restart after changing it while bot running
RSS_COMMAND = ""
RSS_CHAT_ID = ""
RSS_USER_SESSION_STRING = ""                # Require restart after changing it while bot running
# Mega
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
# Buttons
VIEW_LINK = ""
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
