<!--© Flask WebServer Implement By - @VarnaX-279 -->
<!--© HTML & CSS Designed By - @bipuldey19 -->
<!--© JS Improved By - @junedkh -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Torrent Code Checker</title>
    <link rel="icon" href="https://telegra.ph/file/cc06d0c613491080cc174.png" type="image/jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      href="{{url_for('static',filename='code.css')}}"
      rel="stylesheet"
    />
  </head>
<body>
    <header>
      <div class="brand">
        <img
          src="https://telegra.ph/file/cc06d0c613491080cc174.png"
          alt="logo"
        />
        <a href="https://t.me/anas_tayyar">
          <h2 class="name">Qbittorrent Selection</h2>
        </a>
      </div>
      <div class="social">
        <a href="https://www.github.com/anasty17/mirror-leech-telegram-bot"><i class="fab fa-github"></i></a>
        <a href="https://t.me/anas_tayyar"><i class="fab fa-telegram"></i></a>
      </div>
    </header>
    <section>
      <form action="{{form_url}}">
        <div>
          <label for="pin_code">Pin Code :</label>
          <input
            type="text"
            name="pin_code"
            placeholder="Enter the code that you have got from Telegram to access the Torrent"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
          <span
            >* Dont mess around. Your download will get messed up.</
          >
    </section>
</body>
</html>